{% extends "logbook/base.html" %}

{% block sidebar %}
{% if year_hour_data %}
    {% for d in year_hour_data %}
      <li> <a href={% url 'year' d.year %}>{{ d.year }}</a>
       ({{ d.hours }} hours)</li>
    {% endfor %}
{% else %}
    <li> Logbook empty </li>
{% endif %}
{% endblock %}

{% block content %}
<h4> Executive summary: </h4>
<div>
  <table style="width:65%;">
   <tr> <th></th><th style="padding:0.5em">Total</th> <th>In last 90 days</th> <th>In last
     30 days</th> </tr>
   <tr style="padding:0.5em">
     <th style="background-color:white">Hours</th>
     <td style="padding:0.5em">{{ duration_sum }}</td>
     <td>{{ hours_in_last_90 }}</td>
     <td>{{ hours_in_last_30 }}</td>
   </tr>
   <tr style="background-color:white">
     <th style="background-color:white">Landings</th>
     <td style="padding:0.5em">{{ landings }}</td>
     <td>{{ landings_in_last_90 }}</td>
     <td>{{ landings_in_last_30 }}</td>
   </tr>
  </table>
</div>
<br>

<div>
{% include "logbook/flight_list.html" %}
</div>
{% endblock %}

